@font-face  {
    font-family: "Open Sans";
    src: url(src/OpenSans/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face  {
    font-family: "Open Sans";
    src: url(src/OpenSans/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-image: url(src/banner-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    z-index: 1;
}

.wrapper::before {
    content: "";
    
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.container {
    max-width: 1200px;

    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.hat {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
}

.menu__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 35px;
}

.menu__item {
    list-style: none; 
}

.menu__item__link {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.blog {
    width: 690px;

    padding-bottom: 100px;
    padding-top: 70px;
    margin: auto;

    text-align: center;
}

.header {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.65em;
    color: white;
}