@font-face  {
    font-family: "Open Sans";
    src: url(src/OpenSans/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face  {
    font-family: "Open Sans";
    src: url(src/OpenSans/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden-form {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden-icon {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.wrapper {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    position: relative;
    margin-bottom: 60px;

    z-index: 1;
}

.wrapper::before {
    content: "";
    
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.container {
    max-width: 1200px;

    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.hat {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
}

.menu__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 35px;
}

.menu__item {
    list-style: none; 
}

.menu__item__link {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.menu__item__link:hover {
    text-decoration: underline;
}

.header {
    font-family: Open Sans, sans-serif;

    width: 690px;

    padding-bottom: 100px;
    padding-top: 70px;
    margin: auto;

    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.65em;
    color: white;
}

.main__container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.last__post__link {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.last__post {
    display: flex;
    width: 780px;
    margin-bottom: 60px;
}

.last__post__content {
    margin-left: 30px;
}

.last__post__tags {
    display: flex;

    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #b59f5b;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    
}

.last__post__item {
    margin-right: 15px;
    margin-bottom: 10px;
}

.last__post__link__hover:hover {
    text-decoration: underline;
}

.last__post__header {
    text-transform: uppercase;
    font-size: 20px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    margin-bottom: 28px;
}

.last__post__header:hover {
    color: #b59f5b;
}

.last__post__dataut {
    margin-bottom: 45px;
}

.last__post__date {
    font-size: 12px;
    color: #888888;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    margin-right: 10px;
}

.last__post__author {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
}

.last__post__author:hover {
    color: #b59f5b;
}

.last__post__description {
    font-size: 15px;
    color: #0f0d0e;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.aside {
    width: 270px;
}

.aside__box {
    margin-bottom: 60px;
}

.aside__box__name {
    font-size:14px;
    font-weight: 700;
    color:#0f0d0e;

    text-transform:uppercase;
	text-align:center;

	margin-bottom:30px;
}

.aside__box__name::after {
    content:"";
    display: flex;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 65px;
    height: 3px;
    background:#b59f5b;
}

.aside__box__post {
    display: flex;
    margin-bottom: 20px;
}

.aside__post__img {
    margin-right: 20px;
}

.aside__post__date {
    font-weight: 400;
	font-size:12px;
	color:#000000;
    opacity: 0.55;
}

.aside__post__link {
	font-size:14px;
    font-weight: 700;
	color:#000000;

    text-decoration:none;
	text-transform:uppercase;
}

.aside__post__link:hover {
    color: #b59f5b;
}

.form__search {
    position: relative;

	width: 270px;
}

.search {
    display: block;

    padding: 20px 70px 20px 20px;
	width:270px;
    height: 50px;

    border: none;

    font-size: 13px;
    background-color:#f4f7f6;
}

.search:focus {
    outline: 1px solid #b59f5b;
}

.search__button {
	position: absolute;
	top: 0px;
	right: 0px;

	width:50px;
	height: 50px;

	border: none;

    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    background-color:#b59f5b;
	
    cursor: pointer;
}

.search__button:hover {
    background-color: #323232;
}

.subscribe {
	width: 270px;
    height: 50px;

    padding: 20px;
    margin-bottom: 20px;

    border: none;
    
    font-size: 13px;

    background-color: #f4f7f6;
}

.subscribe:focus {
    outline: 1px solid #b59f5b;
}

.subscribe__button {
    height: 50px;

    padding: 10px 85px;

	border: none;
	
	font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #b59f5b;
}

.subscribe__button:hover {
	background: #323232;
    cursor: pointer;
}

.tags__list {
    display: flex;
    flex-wrap: wrap;

	list-style-type: none;
	
	font-size:12px;
	font-weight:700;
}

.tags__item {
    display: block;

	margin: 4px 5px;
}

.tags__item__link {
	display: inline-block;
    
	padding: 5px 11px;

	
    font-size: 12px;
    font-weight: 700;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;

	border: 3px solid #f4f3f1;
}

.tags__item__link:hover {
    border: 3px solid #b59f5b;
}

.themes__list {
	list-style-type: none;
}

.themes__item {
	padding-bottom: 15px;
}

.themes__item::after {
    content:"";
    display: block;

    margin-top: 12px;
    height: 1px;

    background: #eeeeee;
}

.themes__item__link {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	font-weight: 700;
}

.themes__item__link:hover {
    color: #b59f5b;
}

.themes__amount {
	color: #b59f5b;
	font-size: 12px;
    font-weight: 700;
    vertical-align: super;
}

.footer {
    display: block;
    width: 100%;
}

.follow {
    padding: 32px;

    background-color: #f4f7f6;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    gap: 70px;
}

.social-icon {
    display: block;
    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
}

.social-icon__twitter {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.social-icon__pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.social-icon__tumbler {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyright {
    margin-top: 75px;
    margin-bottom: 40px;

    font-size: 12px;
    font-weight: 700;
    color: #999999;
    text-align: center;
}

.copyright-link {
    text-decoration: none;
}