@font-face  {
    font-family: "Open Sans";
    src: url(src/OpenSans/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face  {
    font-family: "Open Sans";
    src: url(src/OpenSans/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-image: url(src/banner-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    position: relative;
    margin-bottom: 60px;

    z-index: 1;
}

.wrapper::before {
    content: "";
    
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.container {
    max-width: 1200px;

    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.hat {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
}

.menu__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 35px;
}

.menu__item {
    list-style: none; 
}

.menu__item__link {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.blog {
    width: 690px;

    padding-bottom: 100px;
    padding-top: 70px;
    margin: auto;

    text-align: center;
}

.header {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.65em;
    color: white;
}

.main__container {
    max-width: 1200px;
    display: flex;

    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.last__post__link {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    margin-right: inherit;
    margin-bottom: inherit;
}

.last__post {
    display: flex;
    width: 780px;
    margin-bottom: 60px;
}

.last__post__content {
    margin-left: 30px;
}

.last__post__tags {
    text-transform: uppercase;
    font-size: 14px;
    color: #b59f5b;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    margin-right: 15px;
    margin-bottom: 10px;
}

.last__post__header {
    text-transform: uppercase;
    font-size: 20px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    margin-bottom: 28px;
}

.last__post__dataut {
    margin-bottom: 45px;
}

.last__post__date {
    font-size: 12px;
    color: #888888;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    margin-right: 10px;
}

.last__post__author {
    font-size: 12px;
    color: #000000;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
}

.last__post__description {
    font-size: 15px;
    color: #0f0d0e;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.aside {
    display: flex;
    justify-content: center;
    margin-left: 120px;
}

.new__post {
    display: flex;
    flex-direction: column;
}

.new__post::after {
    content: '';
    border: 1px solid black;
}